
a {
    text-decoration: none;
    color: inherit;
}

.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.main-content>div{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
.form-contact{
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.text-area{
    width: 100%;
}
.btn-submit{
    width: 100%;
    padding: .8rem;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: #005c96;
    color: #fff;
    font-weight: 1.5rem;
    font-weight: bold;
    border: 2px solid transparent;
}
.btn-submit:hover,
.btn-submit:focus,
.social:focus,
.social:hover {
    outline: none;
    -webkit-transition: ease-in 600ms;
    -o-transition: ease-in 600ms;
    transition: ease-in 600ms;
    background-color: #fff;
    color: #005c96;
    border: 2px solid #005c96;
}
.champ-contact{
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #86bbdb;
}
.select-level:focus,
.champ-contact:focus{
    border: 4px solid #005c96;
    outline: none;
}
.title{
    text-align: center;
}
.second-content{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-content: space-around;
    padding: 10px 0 40px 0;
}
.social-container{
    width: 80%;
    display: flex;
    border-radius: 10px;
}
.social{
    width: 25%;
    padding: .8rem;
    margin: 0;
    /* border-radius: 10px; */
    cursor: pointer;
    background: #005c96;
    color: #fff;
    font-weight: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid transparent;
}
.social:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.social:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}