.main-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
}
.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
}
.flex div{
    width: 30%;
    margin: 10px;
    text-align: justify;
    padding: 1.1em;
    min-height: 400px;
    background: lightblue;
    border-radius: 10px;
}
.flex h3{
    text-align: center;
}
.title{
    text-align: center;
}