<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="e-SEG|CONTACTS">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">
    <link href="../css/contact.css" rel="stylesheet">
    <title>contactez-nous</title>
</head>
<body>
    <header class="header">
        <div class="wrapper_1">
            <a href="index.html"><img class="logo_eSEG" src="img/logo_eSEG2.png" alt="logo de e-SEG"></a>
            <img class="display_none" src="img/toggle_button_1.png" class="toggle_button">
            <img src="img/toggle_button_2.png" class="toggle_button">
        </div>
        <div class="wrapper_2">
            <nav class="nav_links">
                <a href="../index.html" title="Accueil">Accueil</a>
                <a href="About.html" title="A propos">A&nbsp;propos</a>
                <a href="faq.html" title="FAQ">FAQ</a>
                <a href="contact.html" title="contacts">contacts</a>
                <a href="register.html" title="inscription">inscription</a>
                <a href="#" title="connexion">connexion</a>
            </nav>
        </div>

    </header>       
    <article class="main-content">
        <div>
            <h2 class="title">Par e-mail</h2>
            <form class="form-contact" action="contact.html" method="POST">
                <table class="contact-table">
                    <tr>
                        <td>
                            <label for="yourName">votre nom</label>
                        </td>
                        <td>
                            <input class="champ-contact" type="text" class="champ" id="yourName" name="yourName" placeholder="votre nom">
                        </td>
                        <td>
                            <label for="yoursubject">votre sujet</label>
                        </td>
                        <td>
                            <select class="champ-contact" name="yoursubject">
                                <option value="cours">cours</option>
                                <option value="compte">compte</option>
                                <option value="prestation">prestation</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="yourMessage">votre message</label>
                        </td>
                        <td colspan="3">
                            <textarea class="champ-contact text-area" id="yourMessage" name="yourMessage" placeholder="votre message"  rows="10"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <button class="btn-submit" type="submit">Envoyer</button>
                        </td>
                    </tr>
                </table>
               
            </form>
        </div>
        <div class="second-content">
            <h1 class="title">via les réseaux sociaux</h1>
            <div class="social-container">
                    <a class="social" href="#" title="facebok">Notre profil   facebook</a>
                    <a class="social" href="#" title="tweeter">Notre profil   tweeter</a>
                    <a class="social" href="#" title="linkedIn">Notre profil  linkedIn</a>
                    <a class="social" href="#" title="Instagram">Notre profil Instagram</a>
            </div>
        </div>
        <div></div>
    </article>
    <footer class="footer">
        <div class="social_container">
            <a href="#" class="footer_links"><img src="img/facebook.png" alt="lien facebook" title="lien facebook"></a>
            <a href="#" class="footer_links"><img src="img/tweeter.png" title="lien tweeter" alt="lien tweeter"></a>
            <a href="#" class="footer_links"><img src="img/linkedIn.png" title="lien linkedIn"alt="lien linkedIn"></a>
        </div>
        <div class="details">
            <a href="niveaux_academiques.html"  alt="voie les niveaux académiques">Niveaux académiques</a>
            <a href="prestations.html" >Nos prestations</a>
            <a href="contact.html" >Les filières</a>
        </div>
        <p><em>Copyright 2020</em></p>
    </footer>
</body>
</html>