<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style3.css">
    <title>dashboard</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="index.html"><img src="img/logo_eSEG.png" alt="logo e-SEG" title="logo e-SEG"></a>
            </div>
            <div class="header_links">
                <a href="#" class="links active"><img src="img/icons8-accueil.svg" title="Accueil" alt=""></a>
                <a href="#" class="links"><img src="img/icons8-calendrier.svg" title="planning" alt=""></a>
                <a href="#" class="links"><img src="img/icons8-message-rempli-64.png" title="messages" alt=""></a>
                <a href="#" class="links"><img src="img/icons8-utilisateur-100.png" title="profil" alt=""></a>
                <a href="#" class="links"><img src="img/icons8-paramètres.svg" title="paramètres" alt=""></a>
            </div>
            <div class="disconnect_lnk">
                <a href="#" class="link_disconnection"><img src="img/icons8-exporter-100.png" title="déconnexion" alt=""></a>
            </div>
        </header>
        <main class="main-container">
            <div class="search_bar">
                <span class="icon_search"><img src="img/icons8-chercher.svg" alt=""></span>
                <input type="text" class="search_input" placeholder="Rechercher" name="search_input" id="">
            </div>
            <div class="calendar_shower">
                <div class="month_year">
                    Juin 2020
                </div>
                <div class="calendar">
                    <table >
                        <tr>
                            <th>Lun</th>
                            <th>Mar</th>
                            <th class="today">Mer</th>
                            <th>Jeu</th>
                            <th>Ven</th>
                            <th>Sam</th>
                            <th>Dim</th>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>23</td>
                            <td class="today">24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>27</td>
                            <td>28</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="program_shower">
                <div>
                    <input type="button" value="Modifier">
                </div>
                <div class="items">
                    <div>
                        <div >
                            <img class="avatar_icon" src="img/social.png" alt="">
                        </div>
                    </div>
                    <div class="avatar_info">
                        Kenneth ASSANVO
                    </div>
                </div>
                <div class="items">
                    <h2>A porpos de moi</h2>
                    <p>Kenneth ASSANVO</p>
                    <p>Date de naissance: 09 octobre</p>
                    <p>e-mail: assannoKenneth@gmail.com</p>
                </div>
                <div class="items">
                    <h2>Information du compte</h2>
                    <p>Date d'inscription: 6 Janvier 2020</p>
                    <p>Dernière connexion: il y a 2 minutes</p>
                </div>
            </div>
        </main>
        <div class="footer">
            
            <div class="flex-container avatar_box">
                <img class="avatar_icon" src="img/social.png" alt="">
                <div class="avatar_info">
                    <div class="nom_prenom">
                        <p>Kenneth ASSANVO</p>
                        <p>Licence III </p>
                        <p>FINANCE COMPTABILITE GESTION</p>
                    </div>
                </div>
            </div>

            <div class="notifications">
                <div class="notification_bubble">
                    <img class="thumb" src="img/social.png" alt="">
                    <div class="explication">
                        pas de nouvelles notifications
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>