<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="e-SEG|la page d'accueil de la bibliothèque, ACCUEIL">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="wrapper_1">
            <a href="index.html"><img class="logo_eSEG" src="img/logo_eSEG2.png" alt="logo de e-SEG"></a>
            <img class="display_none" src="img/toggle_button_1.png" class="toggle_button">
            <img src="img/toggle_button_2.png" class="toggle_button">
        </div>
        <div class="wrapper_2">
            <nav class="nav_links">
                <a href="/" title="Accueil">Accueil</a>
                <a href="/about" title="A propos">A&nbsp;propos</a>
                <a href="/faq" title="FAQ">FAQ</a>
                <a href="/contact" title="contacts">contacts</a>
                <a href="/register" title="inscription">inscription</a>
                <a href="/login" title="connexion">connexion</a>
            </nav>
        </div>

    </header>
    <article class="main-content">
        <h2 class="title">Entrez dans le monde des sciences éconmiques et de gestion</h2>
        <div class="flex">
            <div class="illustration_1">
                <h3>Suivez-nous où et quand vous le souhaitez</h3>

            </div>
            <div class="illustration_2">
                <h3>de façon entièrement securisée</h3>
            </div>
            <div class="illustration_3">
                <h3>Evaluez vous correctement et progressivement</h3>
            </div>
        </div>
        <h2 class="title">Enrichissez vos connaissances</h2>
        <div class="flex">
            <div class="illustration_4">
                <h3>des ressources de qualité</h3>
            </div>
            <div class="illustration_5">
                <h3>du contenu diversifié</h3>
            </div>
            <div class="illustration_6">
                <h3>une communauté très active</h3>
            </div>
        </div>
        <h2 class="title">Devenez plus compétitifs</h2>
        <div class="flex">
            <div class="illustration_7">
                <h3>En améliorant vos performances</h3>
            </div>
        </div>
    </article>
    <footer class="footer">
        <div class="social_container">
            <a href="#" class="footer_links"><img src="img/facebook.png" alt="lien facebook" title="lien facebook"></a>
            <a href="#" class="footer_links"><img src="img/tweeter.png" title="lien tweeter" alt="lien tweeter"></a>
            <a href="#" class="footer_links"><img src="img/linkedIn.png" title="lien linkedIn" alt="lien linkedIn"></a>
        </div>
        <div class="details">
            <a href="niveaux_academiques.html" alt="voie les niveaux académiques">Niveaux académiques</a>
            <a href="prestations.html">Nos prestations</a>
            <a href="contact.html">Les filières</a>
        </div>
        <p><em>Copyright 2020</em></p>
    </footer>
</body>

</html>