<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/plannig.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>planning</title>
</head>
<body>
<div class="container-fluid">
    <div class="semester">
        <div class="semester-title">SEMESTRE</div>
        <div class="semester-selector">
            <a href="#" class="active_semester">1<sup>er</sup> semestre</a>
            <a href="#">2<sup>em</sup> semestre</a>
        </div>
    </div>
    <div class="UE">
        <div class="ue-title">UE</div>
        <div class="ue-list">
            <!--il faut ajouter un pseudo-élément ici-->
            <div class="ue_items"><h1>UE 1</h1></div>
            <div class="ue_items"><h1>UE 2</h1></div>
            <div class="ue_items active_ue"><h1>UE 3</h1></div>
            <div class="ue_items"><h1>UE 4</h1></div>
            <!--il faut ajouter un pseudo-élément ici-->
        </div>
    </div>
    <div class="ECUE">
        <div class="ecue-title">ECUE</div>
        <div class="ecue-list">
            <p class="ecue-items">Initiation à la gestion des ressources humaines</p>
            <p class="ecue-items active_ecue">Marketing fondamental</p>
        </div>
    </div>
    <div class="plan">
        <div class="plan-title">PLAN</div>
        <div class="plan-list">
            <div class="plan-items">COURS 1</div>
            <div class="plan-items">COURS 2</div>
            <div class="plan-items">COURS 3</div>
        </div>
    </div>
</div>
</body>
</html>