*{
    font-weight: 500;
    box-sizing: border-box; 
 }
 
 body{
     margin: 0;
     padding: 0;
     font-size: 16px;
 }
 
 .container{
     display: flex;
     justify-content: space-between;
     align-items: stretch;
     flex-flow: row nowrap;
 }
 
 header{
     max-width: 150px;
     width: 70px ;
     height: 100vh;
     background: #faf7f74d;
     box-shadow: 2px 0 2px 1.5px #b9b8b866;
 }
 .header_links{
    display: block;
    width: 100%;
    margin-top: 4em;
 }
 .links{
     margin-bottom: 1em;
 }
 .logo{
     display: block;
     width: 100%;
     padding: 10px;
 }
 .disconnect_lnk{
     display: block;
     width: 100%;
     margin-top: 10em;
 }
 .header_links a{
    display: block;
     width: 100%;
 }
 .active{
    background: gainsboro;
 }
 .logo a img,
 .links img,
 .disconnect_lnk a img{
     display: block;
     margin: 0 auto;
     width: 30%;
     min-width: 50px;
     height: auto;
     transform: scale(.7);
 }
 .logo a img:hover,
 .links img:hover,
 .disconnect_lnk a img:hover{
     transition: ease-out 600ms;
     transform: scale(1.1);
 }
 .main-container{
     display: flex;
     flex-flow: column wrap;
     justify-content: flex-start;
     align-content: center;
     background: rgba(224, 216, 216, 0.4);
     width: 100%;
     margin: 0;
     min-width: 700px;
     max-width: 1000px;
     overflow-y: auto;
 }
 .search_bar{ 
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     padding-top: 1.6rem;
     align-content: flex-start;
     width: 90%;
 }
 .search_input{
     width: 60%;
     height: 40px;
     border: .5px solid black;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     font-size: 1rem;
 }
 .search_input:focus{
     outline: none;
     color: black;
 }
 .icon_search {
     padding: 5px;
    height: 40px;
    width: auto;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }
 .icon_search img{
     margin: 0;
     height: 100%;
     width: auto;
 }
 .program_shower{
     display: flex;
     width: 100%;
     flex-flow: column wrap;
     justify-content: center;
     align-content: center;
 }
 .program_shower div{
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    margin: 20px;    
 }
 .items{
    box-shadow: 2px 0 2px 1.5px #b9b8b866;
    background: white;
 }
 .program_shower input[type="button"]{
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    letter-spacing: .2rem;
    cursor: pointer;
 }
 .program_shower input[type="button"]:hover{
     transition: all 600ms;
    background: grey;
 } 
 .footer{
     color: aliceblue;
     background: black;
     width: 200px;
     height:100vh;
     border-radius: 20px 0 0 20px;
     text-align: center;
 }
 .flex-container{
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
 }
.avatar_box{
     background: white;
     width: 100%;
     border: 1px solid black;
     border-top-left-radius: 20px;
 }
 .avatar_icon{
     display: flex-item;
     margin-top: 10px;
     width: 150px;
     height: 150px;
 }
 .avatar_info{
     color: black;
     width: 100%;
 }

 .notification_bubble{
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .explication{
     display: inline-block;
 }
 .thumb{
     width: 40px;
     height: auto;
 }
 .calendar_shower{
     display: flex;
     flex-flow: column wrap;
     justify-content: flex-start;
     align-content: space-around;
     margin: 10px;
 }
 .month_year{
     width: 80%;
     padding: 5px;
     font-weight: bold;
     text-align: left;

 }
 .calendar{
     display: flex;
     background: white;
     width: 80%;
     text-align: center;
     border-radius: 50px;
     padding: 10px;
     justify-content: center;
 }
 .calendar table{
     width: 80%;
     border-collapse: unset;
     border-spacing: 0;
 }
 th{
     color: rgba(128, 128, 128,.7);
 }
 .today{
     background: rgba(173, 114, 3, 0.911);
     color: white;
 }
 th.today {
     border-top-left-radius: 60px;
     border-top-right-radius: 60px;
 }
 td.today {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
 .calendar th,
 .calendar td,
 .calendar tr
 {
     padding: 5px;
 }